<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Aplikacja Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="text-center">
    <h1>Aplikacja Spring</h1>
    <a href="/osoby" class="btn btn-primary btn-lg">Pokaz Osoby</a>
    <a href="/firmy" class="btn btn-primary btn-lg">Pokaz Firmy</a>
    <br><br>
    <a sec:authorize="hasAuthority('USER')" href="/osobaEdit" class="btn btn-primary btn-lg">Edytuj Swoje Dane</a>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col text-center p-3 mb-2 bg-success text-white">
            <h3 class="d-flex justify-content-center">Twoje dane</h3>
            <h4 th:text="${osoba.imie}"></h4>
            <h4 th:text="${osoba.nazwisko}"></h4>
            <h4 th:text="${osoba.email}"></h4>
            <h4 th:text="${osoba.dataZatrudnienia}"></h4>
            <br>
            <div th:switch="${firmy.size()}">
                <div th:case="0">
                    <h3>Pracujesz w</h3>
                    <h4 th:text="${osoba.firma != null} ? ${osoba.firma.nazwaFirmy} : 'NIE MASZ PRACY'"></h4>
                </div>
                <div th:case="*">
                    <h3>Twoje Firmy</h3>
                    <tbody th:each=" firma : ${firmy}">
                    <h4 th:text="${firma.nazwaFirmy}"></h4>
                    </tbody>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<br><br>
<div class=" d-flex justify-content-between">
        <a href="/logout" class="btn btn-primary btn-lg" style="width: 120px" onclick="return confirm('Czy napewno chcesz wylogowac?');">WYLOGUJ</a>
        <a th:href="${'osobaRemoveAndLogout/'+osoba.id}" onclick="return confirm('Czy napewno chcesz usunac swoje konto?');" class="btn btn-danger btn-lg" style="width: 200px">WYREJESTRUJ SIE</a>
</div>
</body>
</html>

